[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "==4.24.0"
mypy = "==1.17.0"
"ruamel.yaml" = "==0.18.6"
kubernetes = "==33.1.0"
click = "==8.2.1"
rich = "==14.0.0"
pyaml-env = "==1.2.2"
python-dotenv = "==1.1.1"
toml = "==0.10.2"
deepdiff = "==8.5.0"
requests = "==2.32.4"
referencing = "==0.36.2"

[dev-packages]
types-jsonschema = "==4.25.0.20250720"
types-pyyaml = "==6.0.12.20250516"
types-requests = "==2.32.4.20250611"
types-six = "==1.17.0.20250515"
pylint = "==3.3.7"
pytest = "==8.4.1"
pytest-xdist = "==3.8.0"
coverage = "==7.9.2"
'black[d]' = "==24.10.0"
black = "==24.10.0"

[requires]
python_version = "3.13"

[scripts]
cli = "python run.py"
cli-ext = "bash -c \"python $(dirname \\$PIPENV_PIPFILE)/src/mpyl/__main__.py $(echo $0) $(echo $@)\""
lint = "pylint --rcfile .pylintrc src/"
lint-test = "pylint --rcfile .pylintrc-test tests/"
format = "black --check --config pyproject.toml --diff . --exclude venv|build/lib"
format-update = "black .  --config pyproject.toml --exclude venv|build/lib"
test = "pytest -n 4 -W ignore::pytest.PytestCollectionWarning -v tests"
test-ci = "coverage run -m pytest --junitxml=build/test-result/test.xml"
test-ci-coverage = "coverage xml -o build/coverage.xml"
check-types = "mypy --explicit-package-bases --check-untyped-defs src/mpyl/"
check-types-test = "mypy --no-incremental --explicit-package-bases --check-untyped-defs tests/"
validate = "python validate.py"
validate-config-example = "python validate-config-example.py"
